/* Header */

	header {
		border-bottom: 1px solid darken($bg-light, 10%);
		background: $bg-light;
		.logo {
			padding: 2em 0;
				img {
					display: block;
					height: 5em;
					margin: 0 auto;

				}
			
		} 
	}