/* Header */

	header {
		
		p{
			font-size: 0.95em;
			font-weight: 600;
			color: #9e9e9e;
		}
		.logo {
				img {
					display: block;
					height: 5em;
					margin: 0 auto;
					&:hover{
						cursor: pointer;
					}
				}
			
		} 
	}
	.header{
		padding: 1em 0;
	}