.wrapper {
  min-height: calc(100vh - 74px);
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  #start .row .col {
    padding: 0 1em;
  }
  .btn-group button {
    padding: 0.2rem 0.3rem;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1400px;
  }
}

.modal-body {
  padding: 0 1.5rem 1rem 1.5rem;
}
// to do : refacto
.container,
.container-fluid {
  padding-right: 1.9375rem;
  padding-left: 1.9375rem;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
}

.vertical-lign {
  border-left: 2px solid $light;
  margin: 0 1rem;
}


.comparative-chart-container{
  position: relative;
  height: 20vh;
  width: 40vh; 
}

.doughnut-chart-container{
  position: relative;
  width: 25h;
  height: 20vh;
  canvas {
    margin: 0 auto;
  }
}
.impact-chart-container{
  position : relative;
  height: 50vh;
  width: 50vh; 
}
.trend-chart-container {
  position : relative;
  height: 50vh;
  width: 100vh; 
}
.deviation-chart-container {
  position : relative;
  height: 70vh;
  width: 150vh; 
}