
h3 {
  color : $secondary;
}

.app-container {
  min-height: calc(100vh - 180px);  
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  #start .row .col {
    padding: 0 1em;
  }
  .btn-group button {
    padding: 0.2rem 0.3rem;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1400px;
  }
}

.modal-body {
  padding: 0 1.5rem 1.5rem 1.5rem;
  font-size: 0.9rem;
}

.vertical-lign {
  border-left: 2px solid $light;
  margin: 0 1rem;
}


.comparative-chart-container{
  position: relative;
  height: 180px;
  width: 250px;
} 

.doughnut-chart-container{
  position: relative;
  width: 200px;
  height: 200px;
  canvas {
    margin: 0 auto;
  }
}
.impact-chart-container{
  position : relative;
  height: 500px;
  width: 500px; 
}
.trend-chart-container {
  position : relative;
  height: 350px;
  width: 750px; 
}
.deviation-chart-container {
  position : relative;
  height: 350px;
  width: 700px; 
}




