.wrapper {
    min-height: calc(100vh - 110px);
}
.container {
    max-width: 95em; 
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em; 
}
.container-fluid {
    width: 100%;  
    padding-left: 2em;
    padding-right: 2em; 
}  

.w100 {
    width: 100%;
}
.mt-2 {
    margin-top: 2rem;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-white{
    background-color: #fff;
}