.alert {
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    height: 10px;
  }
  p {
    margin: 0;
  }
}

.alert-info {
  border-left: 6px solid #8994d1;
}

.alert-success {
  border-left: 6px solid $success;
}

.alert-warning {
  background-color: lighten($warning, 45%);
  border-left: 6px solid $warning;
}

.alert-danger {
  border-left: 6px solid $error;
}
