.alert {
    font-size: 0.85rem;
    padding: 0.75rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg{
        height: 10px;
    }
    p {
        margin: 0;
    }
}

.alert-info {
    color: $primary;
    border-left : 6px solid #8994d1;
    border-radius: 4px;
}

.alert-success {
    border-left : 6px solid $success;
    border-radius: 4px;
  
}

.alert-warning {
    color: darken($warning, 15%);
    background-color: lighten($warning, 45%);
    border-left : 6px solid $warning;
    border-radius: 4px;
}

.alert-danger {

    border-left : 6px solid $error;
    border-radius: 4px;

}