// .btn {
//   font-weight: 600;
//   font-size: 0.9rem;
//   letter-spacing: 0.03rem;
//   padding: 0.8rem 1.5rem;
// }
.btn-secondary {
  color : #fff;

  &:hover {
    color : #fff;
    background-color: $secondary;
  }
}
.btn-statement {
  padding: 0.5rem;
  background-color: #fbfbff;
  border : 1px solid $primary;
  svg {
    height: 10px;
    margin: 0;
  }
}
.download {
  font-size: 0.8rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: $secondary;
}
button:hover {
  cursor: pointer;
}

.btn-secondary:disabled, :disabled:hover{
  background-color : $light;
  border-color: $light;
}

.btn-warning {

  color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-error {
  color: #721c24;
  background-color: #f6f6f6;
  border : 1px solid #721c24;
}
.btn-success {
     color: #212529;
     border : 1px solid #155724;
     background-color: #f6f6f6;
    }

.btn-info {
  background-color: $secondary;
  color: #ffffff;
  padding: 0.8rem;
  font-size: 0.8em;
  &:hover {
    color: #ffffff;
  }
}

.btn-primary:disabled, .btn-primary.disabled {
  color: $primary;
  background-color: $light;
  border-color: $light;
}