.card-header .btn-link {
  padding: 0;
  i {
    margin-right: 10px;
  }
}
.btn-secondary {
  color: #fff;
  &:hover {
    color: #fff;
    background-color: $secondary;
  }
}

.btn:disabled{
  color : #fff;
  background-color: $light;
  border-color: $light;
}

.btn-tertiary {
  background-color: $tertiary;
  color: #fff;
  &:hover {
    background-color: darken($tertiary, 5%);
    color: #fff;
  }
}
