.btn {
    display: inline-block;
    cursor: pointer;
    border-radius: 0.4rem;
    border : 0;
    padding: 1rem 2rem;
    font-weight: $font-weight-bold;
    margin : 1em 0.4em;
    letter-spacing: 0.2em;
    svg{
      height: 13px;
      vertical-align: middle;
      margin: 0 0.5em;
    }
 
  }



  .btn-primary {
      background-color : lighten($primary-color, 5%);
      color : #fff;
      &:hover{
        background-color: lighten($primary-color, 15%);
        color : #fff;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
      }
  }

  
  .btn-secondary {
    background-color : $secondary-color;
    color : #fff;
    &:hover{
      background-color: lighten($secondary-color, 10%);
      color : #fff;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }
}
:disabled, :disabled:hover{
  background-color : lightgray;
}