/* ---------- POPUP ---------- */

.popup-container {
    margin-left: 10%;
    margin-right: 10%;
  
    .progressbar {
      height: 15px;
      width: 500px;
  
      .progressbar_shape {
        height: 100%;
        width: 100%;
        border-radius: 40px;
        background-color: $light-blue;
        rect {
          height: 100%;
          fill: #5262bc;
        }
      }
    }
  }
  
  .popup {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }
  
/* ---------- GROUP ---------- */

.group {
    padding: 1em;
  
    .analysis {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
  .btn {
      margin : 0.5em 0 0.5em 0.5em;
  }  
      select {
        width: 400px;
        background-color: $primary-color;
        color: white;
        border: solid 0px $primary-color;
        border-radius: 0;
  
        option 
        {
          background-color: white;
          color: $primary-color;
          border: solid 1px $primary-color;
          border-radius: 0;     
        }
      }
    }
  }
  
  .popup-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 550px;
    padding: 25px;
    background-color: white;
    border: 1px solid $tertiary-color;
    border-radius: 15px;
    overflow-x: auto;

    &.full-size {
      width: 90%;
    }
  
    h3 {
      margin: 5px 0 10px;
      text-align: center;
    }
  
    .group {
      max-height: 100%;
      width: 100%;
    }
  
    .table-main {
      overflow: auto;
    }
  
    .inputs {
      margin: 10px 5px;
  
      .inline-input {
        display: flex;
        flex-direction: row;
        margin: 5px;
        align-items: baseline;
  
        &.short {
          input,select {
            width: 150px;
          }
        }
        &.long {
          input,select {
            width: 400px;
          }
        }
  
        label {
          min-width: 200px;
        }
        input {
          width: 500px;
          &.input-number {
            text-align: right;
          }
        }
        span {
          font-size: 12px;
        }
      }
    }
  
    .input {
      width: 100%;
      margin: 5px;
    }
  
    .footer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;
    }
  }


  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    display: flex;
    align-items: center;

    .header {
      padding: 1rem 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      text-align: center;
    }
    .body {
      text-align: center;
    }
    .success {
      padding: 0;
      width: 400px;
      box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
      border-radius: 10px;
      animation: open-frame .3s linear;
      .header {
        background: #2dd284;

        svg {
          height: 80px;
          color : #fff;
        }
      }
      .btn {
        background: #2dd284;
        text-transform: uppercase;
        width: 50%;
        color : #fff;
        margin-top: 2rem;
      }
    }
  }

  .modal {
    z-index: 100;
    background: #fff;
    position: relative;
    margin: auto;
    border-radius: 5px;
    padding: 1rem 2rem;
  }


  .modal-action {
    text-align: right;
  }

  #rapport-popup{
    .modal {
      width: 800px;
    }
    .modal-wrapper .body, h4 {
      text-align: left;
    }
    p{
      font-size: 0.8rem;
    }
  }
