section {
  padding: 2rem;
  margin-bottom: 3rem;
}

.section-title {

  svg {
    height: 25px;
    margin-right: 10px;
  }
}

// START SECTION 

#start {
  background: no-repeat url('../img/leaves_background.png');
  padding: 0 3rem;
}

#section-picto {
  text-align: center;
  padding: 2em 0;

  img {
    height: 38px;
    width: auto;
  }

  .logoLSN {
    img {
      height: 120px;
    }

    border-right : 1px solid $light;

  }

  p {
    font-size: 0.8em;
  }
}

// COMPANY SECTION 
.step {
  border: 1px solid #dbdef1;
  border-radius: 10px;
  background-color: #ffffff;
}

#siren-section,
#sector-section {
  .step:not(:first-child) {
    margin-bottom: 2rem;
    padding: 1rem 2rem;
  }

  .step~.step {
    margin-bottom: inherit;
    padding: inherit;
  }

  h4 {
    margin-bottom: 1rem;
  }
}

// INDICATOR SECTION 

.indicator {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 2em;
  margin-top: 2em;
  width: 50%;
}

/* Indicator Section*/
.indicator-section {

  .card {
    margin-bottom: 5px;
    border: none;
}
  .card-header {
    padding: 0.75rem 1rem;
    background-color: #fff;
    border: 1px solid  darken(#fbfbff, 5%);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;

  }
  .card-body {
    background-color: #fbfbff;
    border-left : 1px solid darken(#fbfbff, 5%);
    border-right : 1px solid darken(#fbfbff, 5%);
    border-bottom : 1px solid darken(#fbfbff, 5%);


  }
  .btn {
    margin-right: 1rem;
  }
  .icon-success {
    color: #0c9;
    margin-right: 0.3rem;
  }
  .step {
    padding: 2rem;
    margin: 1rem 0;
  }

  h3 {
    font-size: 1.2rem;
    color :#251f81;
    margin : 1.5rem 0;
  }

  h4 {
    font-size: 1.3em;
    margin: 0 0 1.5rem 0;
    text-align: center;
  }

  .indicator-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top : 1px solid $light;
    padding: 1em 0;
  }
  .indicator-img img{
    margin-left: 0.5rem;
  }

  .icon-ese {
    height: 50px;
  }

  .dwn-group {
    padding: 0.75rem 1rem;
    border: 1px solid  darken(#fbfbff, 5%);
    margin: 1rem 0;
    p {
      font-size: 0.85rem;
      letter-spacing: 0.01rem;    
      font-weight: 600;
    }
  }

}

.selected-indicator {
  background-color: $light;
  padding: 2em 0;
}

.statement-section {
  label {
    font-weight: normal;
    font-size: 0.8em;
  }
  h3{
    color : $tertiary;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  h4 {
    color: $primary;
    font-size: 1em;
  }
  .btn {
    margin-left: 1rem;
  }
}

// validation button
.statement-validation {
  text-align: right;
}


.impact-result {
  padding: 1em 0;

}

// GRAPH

.analysis-container {
  display: flex;
  align-items: center;


  p {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }

 
}


// STATEMENT 

/* ---------- STATEMENT ---------- */

.statement {


  .statement-area {
    margin-bottom: 15px;
    padding: 10px;
    //border: solid 1px $secondary;
  }

  // statement item
  .statement-item {

    // assessment button
    .assessment-button-container {
      margin-left: auto;

      .assessment-button {
        width: 150px;
      }
    }

  }

}

.or {
  text-align: center;
  font-weight: 800;
}

/* ---------- Results ---------- */

.rapport-indic h3 {
  color: $primary;
  font-size: 1.4rem;
}
/* ---------- Results ---------- */

.progressbar {
  width: 100%;
  height: 20px;
  border-radius: 15px;
  background-color: $light;
}

.progressbar .progression {
  background-color: $secondary;
  border-radius: 15px;
  transition: width 400ms ease-in-out;
  height: 100%;
}
