section {
  padding: 2rem;
}

.step {
  padding: 2.5rem;
  margin: 1rem 1.5rem 3rem 1.5rem;
  border-radius: 1rem;
  background-color: #ffffff;
}

/**
 * ==============================================
 * HOMEPAGE
 * ==============================================
 */

.illu-box {
  border-radius: 20px;

  img {
    height: 60px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 1rem;
    color : $primary;
    margin-top: 1rem;
  }

  p {
    font-size: 14px;
  }
}
.carousel-modal {

  @media (min-width: 1200px) {
    .modal-xl {
      max-width: 1200px;
    }
  }
  .modal-body{
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    font-size: inherit;
  }
  .modal-header {
    padding: 1.5rem 1.5rem 0 0;
    .btn-close { padding: 0.5rem;}
  }
}
.carousel {

  p,
  li {
    color: $primary;
    font-size: 1.1rem;
  }

  p.small {
    font-size: 0.7rem;
  }

  h3 {
    color: $secondary;
    text-align: center;
    font-size: 2rem;
  }

  .footprint-box {
    h4 {
      text-align: center;
    }

    li {
      font-size: 0.9rem;
    }

    background-color: $bg-light;
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 1rem 0rem;

    img {
      margin-top: 1rem;
      margin-right: 0.3rem;
    }
  }

  .carousel-item {
    height: 550px;
  }


  .carousel-control-prev,
  .carousel-control-next {
    width: inherit;
    opacity: 0.9;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;

  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23191558'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23191558'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  }

  .carousel-control-prev {
    left: -95px;
  }

  .carousel-control-next {
    right: -95px;
  }


  .carousel-indicators button {
    background-color: $primary !important;
    width: 15px;
    height: 15px;
    border-radius: 100%;
  }

}
/**
 * ==============================================
 * STEP 4 - STATEMENTS
 * ==============================================
 */

.statement-section {
  h3 {
    padding-bottom: 0.5rem;
    margin: 1.5rem 0;
    border-bottom: 2px solid $light-secondary;
  }
}

.indic-statement.bg-light {
  background-color: lighten($bg-light, 2.2%) !important;
}

.indic-statement {

  form.statement>div.row>div.col:nth-child(2) {
    border-left: 1px solid $light;

    .form-group {
      padding-left: 1rem;
    }
  }

  form.statement>div.row>div.col-lg-7 {

    .form-group {
      padding-right: 1rem;

    }
  }

  .statement {
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    border: 1px solid #dbdef1;
    border-radius: 0.5rem !important;
    border-top: 0;
    background-color: #fff;

    .form-label {
      font-weight: 500;
    }
  }

  h4 {
    font-weight: 600;
    font-size: 1rem;
  }
}

.indic-modal {
  .modal-content {
    background-color: $bg-light;
  }

  .modal-header {
    padding: 1.5rem 2rem;
  }

  .modal-body {
    background-color: #fff;
    padding: 2rem;
    margin: 0 2rem;
    border-radius: 1rem;
  }

  .modal-footer {
    padding: 1rem 2rem;
  }
}

/**
 * ==============================================
 * STEP 5 - RESULTS
 * ==============================================
 */

.production-box {

  border: 1px solid #f0f0f8;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 2rem;

  .production-box-header {
      background-color: $bg-light;
      padding: 0.75rem 1.25rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #f0f0f8;
      font-weight: 600;
      font-size: 0.7rem;
    }

  &.major {
    border : 1.5px solid lighten($secondary,10%);
    .production-box-header {
      background-color: $light-secondary;
      color :$secondary;
    }
  }

  .production-box-title {
    height: 50px;
  }

  h5{
    margin : 0.5rem;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
  }

 }


 .box {
  border:2px solid $light;
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 2.5rem;
  margin-bottom: 2rem;
  h3{
    color : $primary;
  }

  h4 {
    margin-bottom: 2rem;
  }

}

.results {

  margin: 1rem 1.5rem;

  .nav-underline {
    a {
      font-weight: 600;
      border-bottom: 2px solid $light;
      margin: 0 0.5rem;
    }
  }

  // Result views menu
  .indic-result-menu {
    img {
      width: 35px;
    }
  
    .btn:focus {
      outline: 0;
      box-shadow: 0 0 0 0.15rem rgba(250, 89, 95, 0.33);
    }

    #dropdown-indics-button {
      width: 100%;
      text-align: left;
      padding: 0.8rem 1.5rem;
      font-size: 1rem;
      img {
        border-left: 1px solid lighten($secondary, 25%);
        padding-left: 1rem;
      }
    }

    .dropdown-toggle {
      &:hover {
        background-color: darken($light-secondary, 2%);
        color: $secondary;
      }

      &::before {
        display: inline-block;
        margin-right: 1em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }

      &::after {
        display: none;
      }
    }

    .dropdown-menu {
      border: 2px solid $light;
      border-radius: 1rem;
      overflow: hidden;
  
      .global-view-item {
        padding-left: 3.8rem;
      }
  
      .dropdown-item {
        font-size: 0.8rem;
        color: $primary;
  
        &:hover,
        &:focus,
        &:active {
          background-color: $bg-light;
        }
      }
    }
  }

  .download-dropdown {
    border: 2px solid $light;
    border-radius: 1rem;


    .dropdown-item {
      font-size: 0.8rem;
      color: $primary;

      &:hover,
      &:focus,
      &:active {
        background-color: $bg-light;
      }
    }
  }

.legal-unit-info {
  border: 1px solid $light;
  padding: 1rem;
  border-radius: 1rem;
  .btn-action {
    background-color: $light;
    border : 1px solid darken($light,5%);
  }
}
}

// Graphs Container
.charts-container .loader-container {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressbar {
  width: 100%;
  height: 20px;
  border-radius: 15px;
  background-color: $light;
}

.progressbar .progression {
  background-color: $secondary;
  border-radius: 15px;
  transition: width 400ms ease-in-out;
  height: 100%;
}


/* ---------- Loading Animation ---------- */

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $secondary;
  color: $secondary;
  will-change: transform;
  /* Ajout de la propriété will-change */
  transform: translateZ(0);
  /* Ajout de la propriété transform */
  box-shadow: 9999px 0 0 -5px $secondary;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $secondary;
  color: $secondary;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px $secondary;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px $secondary;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px $secondary;
  }

  30% {
    box-shadow: 9984px 0 0 2px $secondary;
  }

  60%,
  100% {
    box-shadow: 9984px 0 0 -5px $secondary;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px $secondary;
  }

  30% {
    box-shadow: 9999px 0 0 2px $secondary;
  }

  60%,
  100% {
    box-shadow: 9999px 0 0 -5px $secondary;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px $secondary;
  }

  30% {
    box-shadow: 10014px 0 0 2px $secondary;
  }

  60%,
  100% {
    box-shadow: 10014px 0 0 -5px $secondary;
  }
}