/* ---------- TABLE ---------- */

.table > :not(:first-child) {
  border : none;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  gap: 20px;
  margin-top: 1rem;

  .form-input,
  label {
    font-size: 0.85rem;
    width: auto;
  }
}

.toChecked {
  border-right: 2px solid #ffc107;
}

p.toChecked {
  font-size: 0.8rem;
  margin: 1rem 0;
}
table {
  border: 1px solid $light;
  font-size: 0.85em;
  td {
    border : none;
  }
  .siren {
    width: 250px;
  }
  .siren-input,
  .corporate-name {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
    .form-control {
      margin-bottom: 0 !important;
    }
    .fa-triangle-exclamation {
      color: #ffc107;
    }
  }
  .company {
    width: 100px;
  }
  .success {
 
    .form-input,
    .form-input:active,
    .form-input:focus,
    select {
      border-color: #59b719;
      background-color: #ecf9ef;
    }
  }
  tr.warning td,
  .warning select {
    background-color: #fff3cd;
    border-color: #ffc107;
  }

  p.warning {
    color: #ffc107;
    .form-input,
    .form-input:active,
    .form-input:focus {
      border-color: #ffc107;
    }
  }
  select.warning {
    background-color: #fffdf6;
    border-color: #ffc107;
  }
  .error {
    color: red;
  }

  // --- Cell --- //
 
  td {
    // index
    &.sub {
      padding-left: 25px;
    }

    // font
    &.detail {
      font-style: italic;
      font-size: 15px;
    }
  }

  // --- Head --- //

  thead {
    background-color: $light;
    font-weight: 700;
    font-size: 1.1em;
  }
  .subth {
    background-color: #f4f5ff;
    border-bottom: 1px solid $light;
    font-weight: 600;
    font-size: 0.8rem;
  }
  // --- Body --- //
  tfoot {
    background-color: darken($bg-light, 2%);
    font-weight: bold;
  }
  tbody {
    td {
      vertical-align: middle;
    }
    // select
    select {
      width: 100%;
      background-color: white;
      border: solid 1px $primary;

      option {
        background-color: white;
        border: solid 1px $primary;
        border-radius: 0;
      }
    }

    // value
    .column_value {
      text-align: right;
      input {
        text-align: right;
      }
    }

    // uncertainty
    .column_uncertainty {
      text-align: center;
      font-size: 12px;
      input {
        text-align: right;
        font-size: 15px;
      }
    }

    // background valid/unvalid/default
    input,
    select {
      &.valid {
        background-color: $valid-color;
      }
      &.unvalid {
        background-color: $unvalid-color;
      }
    }

    option.default-option {
      background-color: wheat;
    }
  }
}

.table-navigation {
  margin: 0 2px;
  padding: 5px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    min-width: 150px;
  }

  p {
    margin: 0;
  }
}

.table-menu {
  margin: 1em 0;
  text-align: center;
  button {
    font-size: 0.9rem;
    background-color: #fff;
    font-weight: 600;
    border: none;
    padding: 1rem;
    color: #a7a2a2;
    border-bottom: 2px solid #a7a2a2;
    cursor: pointer;
  }
  button.active,
  button:hover,
  button:focus {
    background-color: $tertiary;
    color: #ffffff;
    border-color: $tertiary;
  }
}

.table-btn {
  text-align: right;
  .btn {
    font-weight: normal;
    font-size: 0.9em;
    svg {
      height: 15px;
    }
  }
}
.table-data {

  .fa-circle-info {
    color: $secondary;
  }

  .operating-result td {
    border-top: 1px solid $primary;
  }
}
.profit td {
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
}
.total,
.with-top-line {
  font-weight: 700;
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
}

// TABLE Assesment

.column_icon .btn {
  padding: 0;
  background-color: transparent;
  svg {
    height: 20px;
  }
}

.a-nouveaux-input {
  margin: 1em 0;
  width: 100%;
  background: $bg-light;
  padding: 1em;
}

// Custom columns size
.division-column {
  width: 450px;
}

.area-column {
  width: 250px;
}


.comparative-table {
  .border-left {
    border-left: 2px solid lighten( $light, 5%);
}
 
}