///
/// Metriz by La Société Nouvelle
///

/* Type */


h1 {
	font-size: 2em;
	line-height: 1.3;
	margin-bottom: 1em;
}


h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
	margin: 0.5em 0;
	color: $tertiary;
}

h5,
h6 {
	font-size: 0.8em;
}


.subtitle {
	color: $secondary;

}

.legend {
	font-size: 0.7em;
	font-style: italic;
}

.svg-inline--fa {
	height: 15px;
	vertical-align: middle;
}

.beta {
	font-size: 0.6em;
	font-weight: 600;
	color: $secondary;
}

.small-text {
	font-size: 0.85rem;
}

.unit {
	font-size: 0.8em;
}