
/* Theming */

$primary-color: #616161;    /* Dark-grey */
$secondary-color: #818181;  /* Light-grey */
$tertiary-color: #434343; /* Dark-grey */
$highlight-color: #8B0000;  /* Burgunby */
$valid-color: #E2EFD9;