
/* Media query mixins */
@mixin xs {
  @media (max-width: 599px) { @content; }
}
@mixin sm {
  @media (min-width: 600px) { @content; }
}
@mixin md {
  @media (min-width: 900px) { @content; }
}
@mixin lg {
  @media (min-width: 1200px) { @content; }
}
@mixin xl {
  @media (min-width: 1800px) { @content; }
}
@mixin screen-min($width) {
  @media (min-width:$width) { @content }
}

/* Theming */


$primary-color: #191558;    /* Dark blue */
$secondary-color: #fa595f;  /* Red */
$tertiary-color: #5262bc; /* Light blue */  
$light-color : #E7D9EA;
$highlight-color: #8B0000;  /* Burgunby */
$valid-color: #E2EFD9;
$unvalid-color: #efdcd9;

$font-weight-bold : 600;

// Button 

$btn-primary-hover : #eeeff9; 
