/* FinancialData Section*/
.financial {
    .section-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    
      }

      .files{
       margin : 10px 0;
       display: flex;
        align-content: center;
        font-size: 0.8em;
        padding: 10px 0;
        p{
          margin: 0 0 0 15px;
          line-height: 20px;

        }
      }
}
.section-form{ 
  padding: 0 2.5em;
    .info{
      font-size: 0.8em;
      color:#495057;
      font-weight: 600;
    }
  }

  .dropzone{
    margin-bottom: 20px;
    padding: 20px;
    border : 2px dashed #eee;
    border-radius: 10px;
    background-color: rgba(235, 243, 250,0.7);
    outline: none;
    transition: border .24s ease-in-out;
    span {
        display: block;
        color : lighten($primary-color, 30%);
        font-size: 0.9em;
    }
    p {
        text-align: center;
    }
}
  
.table-menu {
 text-align: center;
  button {
    background-color: #fff;
    border:none;
    padding: 1rem;
    color: #a7a2a2;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 3px solid #a7a2a2;
    cursor: pointer;

  }
   button.active, button:hover, button:focus{
    background-color: #f7f8f8;
    color: $tertiary-color;
    border-color: $tertiary-color;
  }
}

.table-data {
  max-width: 75%;
  table {
    text-align: left;
  }
  .total td{
    background-color: #dbdef1;
    font-weight: 700;
  }
  .operating-result td {
    background-color: $tertiary-color;
    color : #fff;
  }
  .profit td {
    background-color: $primary-color;
    color : #fff;
  }
}