/* ----- SECTION ----- */

.section-info {
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 1rem 3em rgba(0, 0, 0, 0.175);
  border-radius: 15px;
  color: #495057;
  font-size: 0.9em;
}
.section-view {
  // section view

  .section-view-actions {
    width: 100%;
    //height: 30px;
    padding: 2px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px $primary;

    select {
      width: 400px;
      background-color: $primary;
      color: white;
      border: solid 0px $primary;
      border-radius: 0;

      option {
        background-color: white;
        color: $primary;
        border: solid 1px $primary;
        border-radius: 0;
      }
    }

    #selection-indicator {
      width: 750px;
    }
  }

  .section-view-main {
    .table-container {
      .table-header {
        select {
          width: 400px;
          background-color: $primary;
          color: white;
          border: solid 0px $primary;
          border-radius: 0;

          option {
            background-color: white;
            color: $primary;
            border: solid 1px $primary;
            border-radius: 0;
          }
        }

        p {
          margin: 0;
        }
      }
    }
  }


  .statement-section-view {
    margin: auto;
    width: 80%;

    .inline-input,
    .input {
      margin: 10px 0 15px;
    }

    .actions {
      width: 100%;
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        width: 200px;
      }
    }
  }
}

/* FinancialData Section*/
.financial {
  .section-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .files {
    margin: 10px 0;
    display: flex;
    align-content: center;
    font-size: 0.8em;
    padding: 10px 0;
    p {
      margin: 0 0 0 15px;
      line-height: 20px;
    }
  }
}
.section-form {
  padding: 0 2.5em;
  .info {
    font-size: 0.8em;
    color: #495057;
    font-weight: 600;
  }
}



// Start Section
.start-section {
  display: flex;
  flex-direction: row;

  > * {
      flex: 1 1;
    }
  background:  no-repeat url('img/leaves_background.png');

  p{
      font-family: 'Raleway', sans-serif;
      font-size: 1.1em;
      line-height: 1.5;
      
  }

    h2{
        font-size: 2.4em;
        line-height: 1.2;
        .underline {
          position: relative;
           &::after {
              content: '';
              background-color: $secondary;
              height: 12px;
              display: block;
              position: absolute;
              width: 100%;
              left: 0.5rem;
              bottom: -0.1rem;
              z-index: -1;
            }
        }
    }

    .start-picto {
        display: flex;
        flex-direction: row;
        align-items: stretch;
   
        div{
            padding: 0 1em;
            display: flex;
            flex-direction: column;
            margin : 1em 0;
            img{
              width: 50px;
              flex: 1 ;  
              max-height: 50px;              
      
            }
            p{
              flex: 1 ;                
                font-size: 0.9em;
                text-align: center;
            }
        }
    }
    .start-publish-container{
      div{
        position: relative;
      }
      img{
        display: block;
        margin : 0 auto;
      }
      .cta-publish {
        font-family: 'Roboto', sans-serif;
        font-size: 0.9em;
        font-weight: 600;
        position: absolute;
        bottom: 10px;
        left : 20%;
        background-color: rgba(255,255,255,0.7);
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .icon {
          width: 25px;
          height: 25px;
          margin: 0 15px 0 0;
          padding: 5px;
          background-color: $tertiary;
          border-radius: 50%;
          outline:  solid #a7afb1;
          line-height: 10px;
          .fa-paper-plane {
              height: fit-content;
            color : #fff;
          }
        }
        
        span{
          display: block;
          font-weight: 400;
          color: #a7afb1;
          margin: 0;
        }
      }
    }
  

} 

// indicator section

.indicator-section {
  section {
    padding: 1em 0;
  }
}