.start-section {
    display: flex;
    flex-direction: row;

    > * {
        flex: 1 1;
      }
    background:  no-repeat url('img/leaves_background.png');

    p{
        font-family: 'Raleway', sans-serif;
        font-size: 1.1em;
        line-height: 1.5;
        
    }

      h2{
          font-size: 2.4em;
          line-height: 1.2;
          .underline {
            position: relative;
             &::after {
                content: '';
                background-color: $secondary-color;
                height: 12px;
                display: block;
                position: absolute;
                width: 100%;
                left: 0.5rem;
                bottom: -0.1rem;
                z-index: -1;
              }
          }
      }

      .start-picto {
          display: flex;
          flex-direction: row;
          align-items: stretch;
     
          div{
              padding: 0 1em;
              display: flex;
              flex-direction: column;
              margin : 1em 0;
              img{
                width: 50px;
                flex: 1 ;  
                max-height: 50px;              
        
              }
              p{
                flex: 1 ;                
                  font-size: 0.9em;
                  text-align: center;
              }
          }
      }
      .start-publish-container{
        div{
          position: relative;
        }
        img{
          display: block;
          margin : 0 auto;
        }
        .cta-publish {
          font-family: 'Roboto', sans-serif;
          font-size: 0.9em;
          font-weight: 600;
          position: absolute;
          bottom: 10px;
          left : 20%;
          background-color: rgba(255,255,255,0.7);
          padding: 10px 20px;
          border-radius: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;

          .icon {
            width: 25px;
            height: 25px;
            margin: 0 15px 0 0;
            padding: 5px;
            background-color: $tertiary-color;
            border-radius: 50%;
            outline:  solid #a7afb1;
            line-height: 10px;
            .fa-paper-plane {
                height: fit-content;
              color : #fff;
            }
          }
          
          span{
            display: block;
            font-weight: 400;
            color: #a7afb1;
            margin: 0;
          }
        }
      }
    

}