@import 'base';

/* ----- GENERAL STYLE ----- */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p {

  img {
    height: 12px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  padding: 3px 20px;
  margin: 0 3px;
  color: white;
  background-color: $secondary-color;
  border: 0;

  &.hidden {
    visibility: hidden;
  }

  &:disabled {
    color: $primary-color;
    border: solid $primary-color 1px;
    background-color: white;
  }

  &.highlight {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
}

input {
  //border-radius: 1px;
  border: solid 1px $secondary-color;
  padding: 2px;

  &:disabled {
    background-color: #EEEEEE;
  }

  &.hidden {
    display: none;
  }
}

sup {
  font-size: 9px;
}

/**/

.app-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

/* --- MENU --- */

.menu {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-items-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  .menu-button {
    margin: 2px 0;

    &.selected {
      background-color: $highlight-color;
    }
  }

  button {
    color: white;
    background-color: $primary-color;
    border: 0;
    height: 25px;
    width: 225px;
  }
}

/* --- SECTION CONTAINER --- */

.section-container {
  width: 100%;
}

.section-view {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;

  .section-view-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    text-align: left;
    border-bottom: solid gray 3px;

    h1 {
      margin: 10px 5px 5px 5px;
    }

    .section-view-header-odds {
      margin-top: 10px;
    }

    img {
      height: 40px;
      width: 40px;
      margin: 2px;
    }

  }

  .view-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0;

    button {
      min-width: 100px;
    }
  }

  .actions {
    margin: 0px 0 5px;
  }

}


.menu-section {

  .menu-section-items {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .menu-button {
    color: white;
    background-color: $primary-color;
    border: 0;
    height: 25px;
    width: 100%;
    margin: 2px;

    &.selected {
      background-color: $highlight-color;
    }
  }
}

.financial-section-menu {
  margin: 20px 0;

  .financial-section-menu-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .menu-button {
    color: $primary-color;
    background-color: white;
    height: 25px;
    width: 100%;
    margin: 0;
    border: solid $primary-color 1px;
    
    &.selected {
      color: white;
      background-color: $primary-color;
    }
  }
}

/* -------------------- TABLE -------------------- */

table {
  width: 100%;
  font-size: 15px;
  padding: 1px;
  //border-bottom: solid grey 2px;
  table-layout: auto;

  input {
    width: 100%;
    padding-right: 2px;
  }

  img {
    height: 15px;

    &.locker {
      height: 13px;
    }
  }

  // --- COLUMNS --- //

  .column_short-input {
    width: 150px;

    input {
      text-align: right;
    }
  }

  .column_unit {
    width: 1%;
    min-width: 30px;
    font-size: 12px;
    white-space: nowrap;
  }
  // fixed width
  .column_delete,
  .column_resync,
  .column_icon {
    width: 15px;
    min-width: 15px;
  }
  
  .with-bottom-line {
    td {
      border-bottom: solid grey 2px;
      padding-bottom: 2px;
    }
  }
  .with-top-line {
    td {
      border-top: solid grey 2px;
      padding-top: 2px;
    }
  }

  thead {
    background-color: gray;
    color: white;
    text-align: center;

    .column_code {
      width: 50px;
      text-align: center;
    }

    .column_corporateId {
      width: 125px;
    }
    .column_corporateName,
    .column_auto {
      width: auto;
    }
    .column_areaCode {
      width: 100px;
    }
    .column_corporateActivity {
      width: 200px;
    }
    .column_amount {
      width: 150px;
    }
    .column_value {
      width: 150px;
      min-width: 150px;
    }
    .column_uncertainty {
      width: 150px;
    }
  }

  tbody {

    select {
      background-color: white;
      border: solid 1px $secondary-color;

      option {
        background-color: white;
        border: solid 1px $secondary-color;
        border-radius: 0;     
      }
    }

    .column_code {
      width: 50px;
      text-align: center;
    }

    .column_corporateId {
      width: 125px;
    }
    .column_corporateName,
    .column_auto {
      width: auto;
    }
    .column_areaCode {
      width: 100px;
    }
    .column_corporateActivity {
      width: 200px;
      select {
        width: 100%;
        text-overflow: ellipsis;
      }
    }
    .column_amount {
      width: 150px;
      text-align: right;
      input {
        text-align: right;
      }
    }
    
    .column_uncertainty {
      width: 100px;
      text-align: center;
      font-size: 12px;
      input {
        text-align: right;
        font-size: 15px;
      }
    }
    .column_libelleFlag {
      width: 200px;
      text-align: center;
    }
    .column_value {
      width: 100px;
      text-align: right;
      input {
        text-align: right;
      }
    }
    .valid {
      input {
        background-color: $valid-color;
      }
    }
  }
}

.table-navigation {
  margin: 0 2px;
  padding: 5px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid $primary-color 1px;

  button {
    min-width: 150px;
  }
}

.group {
  display: flex;
  flex-direction: column;
  margin: 30px 0px 30px;
  //padding-bottom: 10px;
  border: solid gray 1px;

  h3 {
    width: max-content;
    padding: 0px 10px 0px 5px;
    margin: 0;
    position: relative;
    top: -15px;
    left: 10px;
    background-color: white;
  }

  .inline-input {
    margin-left: 10px;
  }

  .notes {
    font-size: 13px;
  } 
}

.statement {
  margin: 2px;
  padding: 0px 10px 5px;
  //border: solid gray 1px;

  .statement-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    align-items: baseline;

    label {
      min-width: 600px;
    }
    input {
      margin: 0;
    
      &.input-value {
        width: 100px;
        text-align: right;
      }
    }
    span {
      font-size: 13px;
      white-space: nowrap;
    }

    .input-radio {
      margin-right: 10px;

      label {
        padding: 0px 5px;
      }
    }

  }

  .notes {
    font-size: 12px;
    font-style: italic;
  }
}

/* --- LEGAL UNIT VIEW --- */

.legal_unit_main_view {
  .inline-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    &.short {
      input {
        width: 150px;
      }
    }
    label {
      min-width: 200px;
    }
    input {
      width: 500px;
    }
  }
}

#import-expenses,
#import-depreciations,
#import-companies,
#import-fec,
#import-session {
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 0px;
}

table 
{
  td 
  {
    .short-fix-column {
      width: 125px;
    }
    .medium-fix-column {
      width: 200px;
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgba(255,255,255,0.6);
}

.popup-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 500px;
  min-height: 250px;
  padding: 5px 10px;
  background-color: white;
  border: solid $primary-color 1px;

  h3 {
    margin: 5px 0 10px;
    text-align: center;
  }

  .inputs {
    margin: 10px 5px;

    .inline-input {
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
      align-items: baseline;

      &.short {
        input {
          width: 150px;
        }
      }
      label {
        min-width: 200px;
      }
      input {
        width: 500px;
        &.input-number {
          text-align: right;
        }
      }
      span {
        font-size: 12px;
      }
    }
  }


  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}