@import 'base';

/* ---------- GENERAL STYLE ---------- */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

// Image

img {
  height: 12px;

  &.icon {  // icon
    height: 20px;
    margin: 0 5px;
  }
  
  &.icon-menu { // icon in menu button (tick)
    height: 14px;
    margin: 0 0 0 5px;
  }
}

// link

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// button

button {
  padding: 3px 20px;
  margin: 0 3px;
  color: white;
  background-color: $primary-color;
  border: 0;

  &.hidden {
    visibility: hidden;
  }

  &:disabled {
    color: $primary-color;
    border: solid $primary-color 1px;
    background-color: white;
  }

  &.highlight {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
}

// Input

input {
  border: solid 1px $primary-color;
  padding: 2px;

  &.input-number {text-align: right;}
  &.input-text {text-align: left;}

  &:disabled {
    background-color: #EEEEEE;
  }

  &.hidden {
    display: none;
  }
}

// Select

select {
  padding: 3px 20px;
  margin: 0 3px;
}

// Exposant

sup {
  font-size: 9px;
}

/* ----- SHARED STYLE ----- */

input,
select {
  &.valid {
    background-color: $valid-color; 
  }
  &.unvalid {
    background-color: $unvalid-color; 
  }
}

/* ---------- APP VIEW ---------- */

.app-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

/* ---------- MENU ---------- */

.menu {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-items-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .menu-button {
    height: 25px;
    width: 225px;
    margin: 2px 0;
    border: 0;
    background-color: $primary-color;
    color: white;

    &.selected {
      background-color: $highlight-color;
    }
    &:disabled {
      background-color: white;
      color: $primary-color;
      border: solid $primary-color 1px;
    }
  }
}

/* ----- SECTION CONTAINER ----- */

.section-container { // index.js
  width: 100%;

  .section-view { // section view
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;

    .section-view-header { // header of section view
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      text-align: left;
      border-bottom: solid gray 3px;

      h1 {  // title of section
        margin: 10px 5px 5px 5px;
      }

      .section-view-header-odds { // group of sdg icons
        margin-top: 10px;
        
        img { // sdg icon
          height: 40px;
          width: 40px;
          margin: 2px;
        }
      }
    }
  }
}

/* ---------- GROUP ---------- */

.group {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 30px 0px 30px;
  border: solid $primary-color 1px;

  > h3 {
    width: max-content;
    padding: 0px 10px 0px 5px;
    margin: 0;
    position: relative;
    top: -20px;
    left: 10px;
    background-color: white;
  }

  .actions {
    margin: 5px 0;

    select {
      width: 400px;
      background-color: $primary-color;
      color: white;
      border: solid 0px $primary-color;
      border-radius: 0;

      option 
      {
        background-color: white;
        color: $primary-color;
        border: solid 1px $primary-color;
        border-radius: 0;     
      }
    }
  }

  .notes {
    font-size: 13px;
  }
}

/* ---------- TABLE ---------- */

table {
  width: 100%;
  font-size: 15px;
  padding: 1px;
  table-layout: auto;

  // specific tags
  input {
    width: 100%;
    padding-right: 2px;

    &.right {text-align: right}
  }

  img {
    height: 15px;

    &.active {
      transform: rotate(-360deg);
      transition: transform 1000ms;
    }

  }

  // --- Row --- //

  tr {

    // Borders (top & bottom)
    &.with-bottom-line td {
      border-bottom: solid $primary-color 2px;
      padding-bottom: 2px;
    }
    &.with-top-line td {
      border-top: solid $primary-color 2px;
      padding-top: 2px;
    }

    // cursor
    cursor: default;
  }

  // --- Cell --- //

  td {
    padding-left: 4px;
    padding-right: 4px;

    // width
    &.auto {width: auto}
    &.long {width: 400px}
    &.medium {width: 200px}
    &.short {width: 125px}

    &.column_value {width: 150px}
    &.column_uncertainty {width: 100px}

    // text align
    &.center {
      text-align: center;
      input,select {text-align: center;}
    }
    &.right {
      text-align: right;
      input,select {text-align: right;}
    }

    // index
    &.sub {
      padding-left: 25px;
    }

    // font
    &.detail {
      font-style: italic;
      font-size: 15px;
    }
    &.important {
      font-weight: bold;
    }

    // specific style
    &.column_unit {
      width: 1%;
      min-width: 30px;
      font-size: 12px;
      white-space: nowrap;
    }
    &.column_icon {
      width: 15px;
      min-width: 15px;
    }
  }

  // --- Head --- //

  thead {
    background-color: $primary-color;
    color: white;
    text-align: center;
  }

  // --- Body --- //

  tbody {

    // select
    select {
      width: 100%;
      background-color: white;
      border: solid 1px $primary-color;
      padding: 2px;

      option {
        background-color: white;
        border: solid 1px $primary-color;
        border-radius: 0;     
      }
    }

    // value
    .column_value {
      text-align: right;
      input {
        text-align: right;
      }
    }
    
    // uncertainty
    .column_uncertainty {
      text-align: center;
      font-size: 12px;
      input {
        text-align: right;
        font-size: 15px;
      }
    }

    // background valid/unvalid/default
    input,select {
      &.valid {background-color: $valid-color}
      &.unvalid {background-color: $unvalid-color}
    }

    option.default-option {
      background-color: wheat;
    }
  }
}

.table-navigation {
  margin: 0 2px;
  padding: 5px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid $primary-color 1px;

  button {
    min-width: 150px;
  }
}

/* ---------- STATEMENT ---------- */

.statement {
  margin: 2px;
  padding: 0px 10px 5px;

  // statement item
  .statement-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    align-items: baseline;

    label {
      min-width: 600px;
    }

    input {
      margin: 0;
    
      &.input-value {
        width: 100px;
        text-align: right;
      }
    }

    span {
      font-size: 13px;
      white-space: nowrap;
    }

    // specific case - input radio
    .input-radio {
      margin-right: 10px;

      label {
        padding: 0px 5px;
      }
    }

    // assessment button
    .assessment-button-container {
      margin-left: auto;

      .assessment-button {
        width: 150px;
      }
    }

  }

  // validation button
  .statement-validation {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: right;

    button {
      width: 150px;
    }
  }

  // notes
  .notes {
    font-size: 12px;
    font-style: italic;
  }

}

/* ---------- ASSESSMENT ---------- */

.assessment {
  width: 100%;
  height: 100%;

  .view-header {  // header in assessment
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0;

    button {
      min-width: 100px;
    }
  }
  
  .view-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0;

    button {
      min-width: 100px;
    }
  }

}

/* --- x --- */

.inline-input {
  display: flex;
  flex-direction: row;
  margin: 2px 5px;

  &.short {
    input {
      width: 150px;
    }
  }
  label {
    min-width: 200px;
  }
  input {
    width: 500px;
  }
}

#import-expenses,
#import-depreciations,
#import-companies,
#import-states,
#import-companies-csv,
#import-companies-xlsx,
#import-fec,
#import-session {
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 0px;
  visibility: hidden;
  border: 0px;
}

/* ---------- POPUP ---------- */

.popup-container {
  margin-left: 10%;
  margin-right: 10%;

  .progressbar {
    height: 25px;
    width: 500px;

    .progressbar_shape {
      height: 100%;
      width: 100%;

      rect {
        height: 100%;
        fill: $primary-color;
      }
    }
  }
}

.popup {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgba(255,255,255,0.6);
}

.popup-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 550px;
  min-height: 100px;
  padding: 25px;
  background-color: white;
  border: solid $primary-color 1px;

  &.full-size {
    width: 90%;
    height: 90%;
  }

  h3 {
    margin: 5px 0 10px;
    text-align: center;
  }

  .group {
    max-height: 100%;
    width: 100%;
  }

  .table-container {
    overflow: auto;
  }

  .inputs {
    margin: 10px 5px;

    .inline-input {
      display: flex;
      flex-direction: row;
      margin: 5px;
      align-items: baseline;

      &.short {
        input,select {
          width: 150px;
        }
      }
      &.long {
        input,select {
          width: 400px;
        }
      }

      label {
        min-width: 200px;
      }
      input {
        width: 500px;
        &.input-number {
          text-align: right;
        }
      }
      span {
        font-size: 12px;
      }
    }
  }


  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
}

/* ----- x ----- */

.chart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}